body {
    /* background-color: rgb(235, 235, 253); */
    /* background-blend-mode: multiply; */
    margin: 0dp;
}

#index {
    background-image: url('res/P1010572.JPG');
    background-position-x: center;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    position: relative;
    padding-bottom: 10rem;
}

/* footer properties */

footer, .footer {
    padding-top: .125in;
    padding-bottom: .125in;
    color: #F0F0F8;
    background-color: #444458;
    
    height: 10rem;
    /* padding: 1rem; */
    width: 100%;
    position: absolute;
    bottom: 0;
}    

#tranquility {
    background-image: url('res/drew.JPG');
    background-position-x: center;
    background-size: cover;
    background-attachment: fixed;
}

/* div classes */
div.imgbox {
    display: grid;
    max-height: 100%;
}

.content {
    padding: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #EBEBFDB0;
}

div.heading {
    align-self: center;
    margin-top: 15px;
}

div.paragraph {
    margin: .25in;
    font-size: 13pt;
}

div.code-block {
    padding: .125in;
    background-color: black;
    color: #F0F0F8;
}

/* misc classes */
.center-fit {
    display: block;
    max-width: 100%;
}

.center-text {
    text-align: center;
}

p.floatright {
    padding-right: 20px;
    text-align: right;
    float: right;
}

p.floatleft {
    text-align: left;
    float: left;
}

p.nomargin, p.floatleft, p.floatright {
    margin-bottom: 0px;
}

.light {
    color: #666676;
}

.indent {
    margin-left: .25in;
}

.logo {
    max-height: 1em;
}


/* I don't like the purple links*/
a {
    color: inherit;
}

h1, h2, h3, h4, h5, p, li, ul {
    font-family: 'Signika';
}

/* code should look like code, right? */
code {
    color: #D36025
}

code.block {
    padding: .0625in;
    background: black;
    color: #F0F0F8;
}

h1 code {
    padding: .125in;
    background: black;
    color: #F0F0F8;
}


/* IDs */
#machu-poncho {
    max-width: 100%;
    margin: 20px;
}

#machu-poncho-home {
    max-width: 50%;
    margin: 20px;
}