body {
    /* background-color: rgb(235, 235, 253); */
    /* background-blend-mode: multiply; */
    margin: 0dp;
}

#index, .root {
    background-image: url('res/P1010572.JPG');
    background-position-x: center;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    position: relative;
    padding-bottom: 10rem;
}

/* footer properties */

footer, .footer {
    padding-top: .125in;
    padding-bottom: .125in;
    color: #F0F0F8;
    background-color: #444458;
    
    height: 10rem;
    /* padding: 1rem; */
    width: 100%;
    position: absolute;
    bottom: 0;
}    

#tranquility {
    background-image: url('res/drew.JPG');
    background-position-x: center;
    background-size: cover;
    background-attachment: fixed;
}

/* div classes */
div.imgbox {
    display: grid;
    max-height: 100%;
}

.content {
    padding: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #EBEBFDB0;
}

div.heading {
    align-self: center;
    margin-top: 15px;
}

div.paragraph {
    margin: .25in;
    font-size: 13pt;
}

div.code-block {
    padding: .125in;
    background-color: black;
    color: #F0F0F8;
}

/* misc classes */
.center-fit {
    display: block;
    max-width: 100%;
}

.center-text {
    text-align: center;
}

p.floatright {
    padding-right: 20px;
    text-align: right;
    float: right;
}

p.floatleft {
    text-align: left;
    float: left;
}

p.nomargin-bottom, p.floatleft, p.floatright {
    margin-bottom: 0px;
}

p.nomargin {
    margin: 0px;
}

.light {
    color: #666676;
}

.uline {
    text-decoration-line: underline;
}

.indent {
    margin-left: .25in;
}

.logo {
    max-height: 1em;
}

.project-image {
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
}

/* I don't like the purple links*/
a {
    color: inherit;
}

h1, h2, h3, h4, h5, p, li, ul, nav {
    font-family: 'Signika';
}

/* code should look like code, right? */
code {
    color: rgb(0, 0, 0)
}

code.block {
    padding: .0625in;
    background: black;
    color: #F0F0F8;
}

h1 code {
    padding: .125in;
    background: black;
    color: #F0F0F8;
}

.pt48 {
    font-size: 48pt;
}

.pt72 {
    font-size: 72pt;
}

/* IDs */
#santiago-me {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#machu-poncho-home {
    max-width: 94%;
    margin: 3%;
}

#welcome {
    margin: 4%;
}

#welcome h1 {
    font-size: 72pt;
}